
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-nits-aa-container">
                <div class="mobile-ats-logo-container">
                    <img class="footer-ats-logo" src="/img/logo.png" alt="ATS Logo">
                </div>
                <div class="footer-nits-logo-container">
                    <lottie-player class="animation" src="https://assets2.lottiefiles.com/private_files/lf30_gcroxmlt.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
                </div>
                <div class="footer-contact-aa">
                    <a href="">
                        <h4 class="footer-heading footer-heading-aa">NIT Silchar CodeOctober</h4>
                    </a>
                    <a href="" class="footer-para"><span class="contact-symbol">&#x2709;</span>nitsaa@nits.ac.in</a>
                    <p class="footer-para"><span class="fa fa-phone"></span>(+91) 25461-45021</p>
                </div>
            </div>
            <div class="footer-about">
                <h4 class="footer-heading">About</h4>
                <a href="" class="footer-para">RRRRRRR</a>
                <a href="" class="footer-para">RRRRRRR</a>
                <a href="" class="footer-para">RRRRRRR</a>
                <a href="" class="footer-para">RRRRRRR</a>
            </div>
            <div class="footer-events">
                <h4 class="footer-heading">Events</h4>
                <a href="" class="footer-para">RRRRRRR</a>
                <a href="" class="footer-para">RRRRRRR</a>
                <a href="" class="footer-para">RRRRRRR</a>
            </div>
            <div class="footer-ats-col-container">
                <div class="footer-ats-logo-container">
                    <img class="footer-ats-logo" src="/img/logo.png" alt="ATS Logo">
                </div>
                <div class="footer-heading">
                    <h4 class="">HardCoder</h4>
                </div>
            </div>
        </div>

        <div class="follow-us">
            <a class="fa fa-linkedin" href="LinkedIn"></a>
            <a class="fa fa-facebook" href="Facebook"></a>
            <a class="fa fa-instagram" href="Instagram"></a>
        </div>
        <div class="footer-copyright">
            © Copyright 2020
        </div>
    </footer>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
