
  <nav style="z-index:1;">
   <div class="icon">
       <b>Study<br> Corner</b>
       <!-- <form class="search_box" class="form-inline" action="/user/public-profile" method="GET">
           <input type="search" placeholder="Search for users...">
           <span class="fa fa-search" style="margin-left:-3vw; border: none;"></span>
       </form> -->
       <form action="/user/public-profile" method="GET" class="form-inline search_box">
         <div class="form-group">
             <input type="text" name="search" placeholder="user search..." class="form-control">
             <span class="fa fa-search" style="margin-left:-3vw; border: none;"></span>
         </div>
     </form>
   </div>
   
   <ol>
       <li><a href="/">Home</a></li>
       <li><a href="/resource">Resource</a></li>
       <li><a href="/forum">Discussion</a></li>
       <li><a href="/user/signup">Sign Up</a></li>
       <a href="/user/profile"><img src="/img/images.jpg"></a>
   </ol>
</nav>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/header.css" />
        <script src="https://kit.fontawesome.com/23068c81bc.js" crossorigin="anonymous"></script> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap" rel="stylesheet">
    