
   

        <div class="Navbar" id="IdNavbar">
                <div class="title1">
                <p>STUDY <br>CORNER</p>
                </div>
        
                <div class="Navbar-contents">  
                   <form action="#">
                <a><i class="fa fa-search" aria-hidden="true"></i><input type="text" placeholder=" Search for Codeoctober...."></a>
             </form>  
                <a href="#">Home</a>
                <a href="#">Discussion</a>
                <a href="#">Login</a>
                <a href="#">Signup</a>
                </div>
        </div>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Hanalei&family=Jomhuria&display=swap" rel="stylesheet">  
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Lobster&family=Poppins:wght@100&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/header.css">