<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index_about.css" />
    <link rel="stylesheet" href="/css/index_faq.css" />
    <link rel="stylesheet" href="/css/index_contactus.css" /> 

    <script src="https://kit.fontawesome.com/23068c81bc.js" crossorigin="anonymous"></script> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;">
    <!--About Us Section Starts-->

    <main class="main" style="
    margin: 0px 60px;
">
      
        <section class="about" id="about">
          <div class="background">
            <img
              src="/img/about_us.jpg"
              alt="about us"
              class="background__image"
            />
          </div>
          <div class="content">
            <h1 class="heading__primary intersect">About Us</h1>
            <h3 class="heading__secondary">
              We are a team of Tech Enthusiasts belonging from the National Institute of Technology, Silchar. We are an inquisitive bunch 
              of undergrads which are open to new challenges and lots of learning. 
              <br><br>
             Having had the grateful opportunity to get a formal education, we deeply associate with the challenges to organize studies. 
             We realize the obstacles that one stumbles upon because of the lack of a clear study path, resources, guidance, doubt resolution 
             mechanism and the people who can be a part of your learning journey. But despite the challenges, we have been a firm believer of 
             focusing on the process. And that Hard Work, Persistence and Endurance  never goes in vain.
             We hope that Study Corner can help you deal with some of these challenges.
            <br> 
            <br>
            We gladly welcome you aboard to be a part of our amazing family.
            </h3>
          </div>
        </section>
        <!--About Us Section Ends-->
        <section class="about">
            <div class="content">
              <h1 class="heading__primary intersect">Highlights</h1>
              <h3 class="heading__secondary">
                Study corner is a self learning platform focused on building an environment conducive for self learning. 
                The platform provides multiple features and functionalities to deal with the same.<br><br> 
                Learning tracks on the platform allows one to set concrete milestones for one’s learning goals. 
                Also one can make it public for others to see and be a part of it. Resource section reviews and ratings can 
                help to grab the right resource for learning. Using global search, one may explore all the users, tracks and resources.
                <br><br>Study buddy feature allows a user to make friends. One can look into all the learning tracks, learning goals of a friend, 
                along with the note sharing functionality. The forum acts as the doubt resolution mechanism for the platform. Solving doubts 
                can fetch users points.
              </h3>
            </div>
            <div class="background">
              <img
                src="/img/about_study_corner.png"
                alt="about dsc nits"
                class="background__image"
              />
            </div>
          </section>

          <!-- FAQ SECTION -->
          <section class="faq-section" id="faq-section">
            <div class="upper">
              <h1>How can we help you?</h1>
              <h3 style="
              font-weight: 300;
              color: #423c97;
          ">
                You can also browse the topics below to find what you are looking
                for.
              </h3>
            </div>
            <div class="lower">
              <div class="sub" style="background-color: white">
                <i
                  class="fa fa-pencil-square-o"
                  aria-hidden="true"
                  style="padding-bottom: 0.5rem"
                ></i>
                <h4 style="
                font-weight: 400;
                font-size: 18px;
            ">Why Study Corner?</h4>
                <br />
                <p></p>
                <p style="
                font-weight: 300;
                font-size: 14px;
            ">
                  Study corner helps to create a conducive environment to attain one’s study goals and assist in dealing with the challenges arriving within.
                  It helps you in structurizing your goals in an efficient and innovative way. 
                </p>
                <!-- <p class="more">View all questions</p> -->
              </div>
              <div class="sub" style="background-color: white">
                <i
                  class="fa fa-plus-circle"
                  aria-hidden="true"
                  style="padding-bottom: 0.5rem"
                ></i>
                <h4 style="
                font-weight: 400;
                font-size: 18px;
            ">Is there a chat system? </h4>
                <br />
                <p></p>
                <p style="
                font-weight: 300;
                font-size: 14px;
            ">
                  No. As of now, one can see a friend’s goals, tracks and share resources. But we are open to integrate in the future versions of the site where you can chat with friends and make your study sessions more fun.
                </p>
                <!-- <p class="more">View all questions</p> -->
              </div>
              <div class="sub" style="background-color: white">
                <i
                  class="fa fa-user"
                  aria-hidden="true"
                  style="padding-bottom: 0.6rem"
                ></i>
                <h4 style="
                font-weight: 400;
                font-size: 18px;
            ">How to check any other profile?</h4>
                <br />
                <p></p>
                <p style="
                font-weight: 300;
                font-size: 14px;
            ">
                  Click on the search button present on the navigation bar at the
                  top of each page. Type the name of the user you want to search and
                  then click on the names that appear. You will be redirected to the
                  profile of that user.
                </p>
                <!-- <p class="more">View all questions</p> -->
              </div>
              <div class="sub" style="background-color: white">
                <i
                  class="fa fa-users"
                  aria-hidden="true"
                  style="padding-bottom: 0.5rem"
                ></i>
                <h4 style="
                font-weight: 400;
                font-size: 18px;
            ">Why is it better than other study platforms?</h4>
                <br />
                <p></p>
                <p style="
                font-weight: 300;
                font-size: 14px;
            ">
                  This platform allows one to create customized learning tracks packaged with milestones and resources. Along with that the other features of the platform make it unique. 
                </p>
                <!-- <p class="more">View all questions</p> -->
              </div>
              <div class="sub" style="background-color: white">
                <i
                  class="fa fa-eye"
                  aria-hidden="true"
                  style="padding-bottom: 0.5rem"
                ></i>
                <h4 style="
                font-weight: 400;
                font-size: 18px;
            ">Can we view somebody’s private tracks?</h4>
                <br />
                <p></p>
                <p style="
                font-weight: 300;
                font-size: 14px;
            ">
                  Only if the individual is your friend you can view his/her private tracks and notes as well.
                </p>
                <!-- <p class="more">View all questions</p> -->
              </div>
              <div class="sub" style="background-color: white">
                <i
                  class="fa fa-unlock-alt"
                  aria-hidden="true"
                  style="padding-bottom: 0.6rem"
                ></i>
                <h4 style="
                font-weight: 400;
                font-size: 18px;
            ">How do I login if I forgot my password?</h4>
                <br />
                <p></p>
                <p style="
                font-weight: 300;
                font-size: 14px;
            ">
                  Just click on the forgot password option given on the Login Page.
                  You have to enter your email and then a mail will be sent to your
                  registered email address. Click on that link before it expires and
                  update your password
                </p>
                <!-- <p class="more">View all questions</p> -->
              </div>
            </div>
          </section>
          <!-- FAQ ENDS -->

          <section class="contact_us" id="contactus">
            <div class="row">
              <h2 class="heading__primary intersect">
                Contact Us
              </h2>
    
              <h4 style="text-align: center;color: #746AF9;">We'd love to hear from you!</h4>
            </div>
            <form
              action="/contact"
              method="post"
              id="upload_form"
              enctype="multipart/form-data"
            >
              <div class="containersss">
                <div class="row input-container">
                  <div class="col-xs-12">
                    <div class="styled-input wide">
                        <label>Email</label>
                      <input type="email" class="full" name="email" required />
                      
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="styled-input wide">
                        <label>Name</label>
                      <input type="text" class="full" name="name" required />
                      
                    </div>
                  </div>
    
                  <div class="col-xs-12">
                    <div class="styled-input wide">
                        <label>Message</label>
                      <input
                        type="text"
                        class="message full"
                        name="message"
                        required
                      />
                      
                    </div>
                  </div>

                  <button style="text-align: left;
                  width: 20%;
                  border: 0px;
                  background: linear-gradient(45deg,#493de9,#aaa4f5);
                  height: 40px;
                  font-size: 15px;
                  font-family: 'Poppins';
                  /* margin: 3px 5px; */
                  color: aliceblue;
                  border-radius: 2px;
                  align-self: center;">Submit</button>
                </div>
              </div>
            </form>
          </section>
    </main>  
</body>
</html>