<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    <link rel="stylesheet" href="/css/notes_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('partials/header') %>
    <main>
        <section class="container" style="margin-top:60px ;">
            <h2 style="margin: 10px 0;">My Notes</h2>
            <div class="accordion">
              
  
               
                <% user.notes.forEach(function(note){%>
                <div class="each_note">
                  <input type="radio" name="example_accordion" id="section3" class="accordion__input">
                  <label for="section3" class="accordion__label"><%= note.title %></label>
                  <div>
                    <p style="font-size: 16px;
                    padding: 10px 20px;
                    font-weight: 300;
                    background-color: #F6F5FF;
                    color: black;
                    line-height: 1.5;">
                     <%=note.description%>
                    </p>
                  </div>
                </div>
                <% }) %>
              </div>
        </section>
    </main>
</body>
</html>