<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei&family=Jomhuria&display=swap" rel="stylesheet">  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Lobster&family=Poppins:wght@100&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Resource.css">
    <title>resources</title>
</head>
<body>
<div class="container">
<div class="Navbar" id="IdNavbar">
        <div class="title1">
        <p>STUDY <br>CORNER</p>
        </div>

        <div class="Navbar-contents">  
           <form action="#">
        <a><i class="fa fa-search" aria-hidden="true"></i><input type="text" placeholder=" Search for Codeoctober...."></a>
     </form>  
        <a href="#">Home</a>
        <a href="#">Discussion</a>
        <a href="#">Login</a>
        <a href="#">Signup</a>
        </div>
</div>

<div class="container-1">
<div class="container-1-contents">
    <a href="#">BOOKS</a>
    <a href="#">VIDEOS</a>
    <a href="#">PDFS</a>
    <a href="#">DISCUSSION</a>
    <div class="filter">
    <a href="#" > <label for="Filter">
            <select name="U" id="U"onchange="location = this.value;">
            <option value="#">SORT</option>
            <option value="#">Engineering</option>
            <option value="#">Phermacist</option><option value="#">Medical</option>
            <option value="#">Engineering</option>
            <option value="#">Phermacist</option>
            <option value="#">Medical</option>
            <option value="#">Engineering</option>
            <option value="#">Phermacist</option>
            <option value="#">Medical</option>
            <option value="#">Engineering</option>
            <option value="#">Phermacist</option>
            </select>
    </a></div>
</div>
</div>
<div class="container-2">
    <div class="container-1-row">
        <% resources.forEach(function(resource){%>
        <div class="container-2-column">
            <div class="cont-3">
              
            </div>
            <div class="cont-4">
                <div class="cont-5">
                 <h3>Javascript<br>Fundamen</h3>
                </div>
                <div class="cont-6">
                    <h3>Course description</h3>
                    <input type="submit" id="signIn" class="btn"  value="Continue">
                </div>
            </div>
        </div>
        <%})%>
        <!-- <div class="container-2-column">
            <div class="cont-3">
              
            </div>
            <div class="cont-4">
                <div class="cont-5">
                    <h3>Javascript<br>Fundamen</h3>
                </div>
                <div class="cont-6">
                    <h3>Course description</h3>
                    <input type="submit" id="signIn" class="btn"  value="Continue">
                </div>
            </div>
        </div> -->
        <!-- <div class="container-2-column">
            <div class="cont-3">
              
            </div>
            <div class="cont-4">
                <div class="cont-5">
                    <h3>Javascript<br>Fundamen</h3>
                </div>
                <div class="cont-6">
                    <h3>Course description</h3>
                    <input type="submit" id="signIn" class="btn"  value="Continue">

                </div>
            </div>
        </div> -->
        
      </div>
      <!-- <div class="container-1-row">
        <div class="container-2-column">
            <div class="cont-3">
              
            </div>
            <div class="cont-4">
                <div class="cont-5">
                    <h3>Javascript<br>Fundamen</h3>
                </div>
                <div class="cont-6">
                    <h3>Course description</h3>
                    <input type="submit" id="signIn" class="btn"  value="Continue">

                </div>
            </div>
        </div>
        <div class="container-2-column">
            <div class="cont-3">
              
            </div>
            <div class="cont-4">
                <div class="cont-5">
                    <h3>Javascript<br>Fundamen</h3>
                </div>
                <div class="cont-6">
                    <h3>Course description</h3>
                    <input type="submit" id="signIn" class="btn"  value="Continue">

                </div>
            </div>
        </div>
        <div class="container-2-column">
            <div class="cont-3">
              
            </div>
            <div class="cont-4">
                <div class="cont-5">
                    <h3>Javascript<br>Fundamen</h3>
                </div>
                <div class="cont-6">
                 <h3>Course description</h3>
                 <input type="submit" id="signIn" class="btn"  value="Continue">

                </div>
            </div>
        </div>

      </div> -->
</div>

</div>

</body>
<style>

</style>
</html>