<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei&family=Jomhuria&display=swap" rel="stylesheet">  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Lobster&family=Poppins:wght@100&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Resource.css">
    <title>resources</title>
</head>
<body>

    <%- include('partials/header') %>
<!-- <div class="container-1">
<div class="container-1-contents">
    <a href="#">BOOKS</a>
    <a href="#">VIDEOS</a>
    <a href="#">PDFS</a>
    <a href="#">DISCUSSION</a>
    <div class="filter">
    <a href="#" > <label for="Filter">
            <select name="U" id="U"onchange="location = this.value;">
            <option value="#">SORT</option>
            <option value="#">Engineering</option>
            <option value="#">Phermacist</option><option value="#">Medical</option>
            <option value="#">Engineering</option>
            <option value="#">Phermacist</option>
            <option value="#">Medical</option>
            <option value="#">Engineering</option>
            <option value="#">Phermacist</option>
            <option value="#">Medical</option>
            <option value="#">Engineering</option>
            <option value="#">Phermacist</option>
            </select>
    </a></div>
</div>
</div> -->
<div class="container-2">
    <div class="container-1-row">
        <!-- <% resources.forEach(function(resource){%>
        <div class="container-2-column">
            <div class="cont-3">
              
            </div>
            <div class="cont-4">
                <div class="cont-5">
                 <h3>Javascript<br>Fundamen</h3>
                </div>
                <div class="cont-6">
                    <h3>Course description</h3>
                    <input type="submit" id="signIn" class="btn"  value="Continue">
                </div>
            </div>
        </div>
        <%})%>   -->
        
        <% resources.forEach(function(resource){%>
        <div class="card" style="width: 18rem;">
            <img src="/img/images.jpg" alt="Image not available" class="card-img-top-">
            <div class="card-body">
              <h5 class="card-title">Name: Modern JavaScript Webdevelopment CookBook</h5>
              <h6 class="card-subtitle mb-2 text-muted">Author: Pablo</h6>
              <p class="card-text">Book on Javascript .</p>
              <div class="bottomButtons">
                <a href="#" class="card-link vote"><i class="fas fa-thumbs-up"></i></a>
                <a href="#" class="card-link vote"><i class="fas fa-thumbs-down"></i></a>
                <a href="#" class="btn  card-link" id="continue">Continue</a>
              </div>         
              
            </div>
          </div>
          <%})%> 

      </div>   
</div>

</div>
<!-- Footer Added -->
<%- include('partials/footer') %>
</body>
<style>
    .card-title{
      font-size: 1em;
    }
    .card-link {
    color:black;
    }
    .card-body{
      font-family: 'Cairo', sans-serif;
      font-family: 'Lobster', cursive;
      font-family: 'Poppins', sans-serif;
      font-family: 'Zen Old Mincho', serif;
          }
    #continue{
      margin-left: 6vw;
      color:white;
      font-weight: bold;
      background-color:rgb(46, 90, 173);
    }
    .card{
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.3); ;
    }
  </style>
</html>