*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
  }
  
main{
    min-height: 100vh;
    background: linear-gradient(45deg,#746AF9,#D1CEFC);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container{
    padding: 20px;
    min-height: 60vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
}
.title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    width: 30px;
    bottom: 0;
    border-radius: 1px;
    background: rgb(65, 96, 238);
}
.user_details{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.user_details .left{
    margin: 10px;
    flex:2;
}
.user_details .right{
    margin: 10px;
    flex: 2;
}

.input-box{
    margin: 20px 8px 12px 2px;
    width: calc(100%/2-20px);
}
.subheading{
    font-weight: 500;
    margin-bottom: 5px;

}
input{
    height: 45px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.skill_input{
    margin-top: 5px;
    margin-bottom: 5px;
}
.button{
    background: linear-gradient(45deg,#D1CEFC,#746AF9);
}