@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

*:link {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
.animation{
    margin-top: -10vh;
    margin-left: 3vw;
}
  
/* footer styles */
.footer {
  display: block;
  max-width: 100vw;
  font-family: "Lato", sans-serif;
  background-color:#746AF9;
  color: white;
  text-align: center;
}

.footer-container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15vh;
  border-bottom: 2px solid white;
}

.footer-nits-aa-container,
.footer-about,
.footer-events,
.footer-contact,
.footer-ats-col-container {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 20vw;
}

.mobile-ats-logo-container {
  display: none;
}

.footer-nits-logo {
  width: 40%;
  margin-bottom: 2vh;
}

.footer-contact-aa {
  font-size: 0.9rem;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* contact symbol style with fa styling below */
.footer-heading {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #32fcf3;
  letter-spacing: 1px;
  font-weight: 600;
  user-select: none;
}

.footer-heading-aa {
  margin-bottom: 8px;
}

.footer-para {
  margin-bottom: 6px;
  font-size: 1.1rem;
  display: block;
  color: white;
  user-select: none;
}

.footer-ats-logo {
  width: 57%;
}

.follow-us {
  padding: 2vh 0 3vh 0;
}

.fa {
  padding: 5px 7px;
  font-size: 26px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 100%;
  margin-right: 2vw;
}

.fa:last-child {
  margin-right: 0;
}

.fa-facebook {
  padding: 5px 9px;
  font-size: 24px;
}

.contact-symbol,
.fa-phone {
  border: none;
  margin-right: 10px;
  color: #32fcf3;
  padding-left: 0;
  font-size: 20px;
}

.footer-copyright {
  padding-bottom: 1vh;
}

@media (max-width: 700px) {
  .footer-container {
    padding-top: 5vh;
  }

  .footer-nits-aa-container,
  .footer-about,
  .footer-events,
  .footer-contact,
  .footer-ats-col-container {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }

  .footer-about,
  .footer-events {
    display: inline-block;
    width: 45%;
  }

  .mobile-ats-logo-container {
    display: block;
    width: 100%;
  }

  .footer-ats-col-container {
    display: none;
  }

  .footer-nits-logo {
    width: 30%;
  }

  .footer-heading {
    font-size: 1.1rem;
  }

  .footer-para {
    margin-bottom: 4px;
    font-size: 1rem;
  }

  .footer-ats-logo {
    width: 40%;
  }
}
/* footer ends */