.contact_us {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 2rem;
    /* ///// inputs /////*/
  }
  
  .contact_us .cu {
    padding: 3rem;
    background-color: rgb(203, 203, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
  }
  
  .contact_us .progress {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .contact_us progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    opacity: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 20px;
  }
  
  .contact_us .heading__primary {
    font-family: var(--global-font);
    text-align: center;
    font-size: 4rem;
  }
  
  .contact_us h4 {
    font-family: var(--global-font);
    font-weight: 400;
    font-size: 20px;
    color: var(--Grey-light-4);
    line-height: 1.5;
  }
  
  .contact_us input:focus ~ label,
  .contact_us textarea:focus ~ label,
  .contact_us input:valid ~ label,
  .contact_us textarea:valid ~ label {
    font-size: 0.75em;
    color: var(--Grey-light-4);
    top: -2px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
  }
  
  .contact_us .inputfile {
    display: none;
    cursor: pointer;
  }
  
  .contact_us .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .contact_us .custom-file-upload:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
    background-color: var(--Grey-dark-1);
    color: var(--primary-light);
    border: 1px solid;
    border-radius: 2px;
  }
  
  .contact_us .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  
  @media only screen and (max-width: 768px) {
    .contact_us .styled-input {
      width: 100%;
    }
    .contact_us .contact_us {
      overflow-x: hidden;
    }
  }
  
  .contact_us .styled-input label {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  
  .contact_us .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }
  
  .contact_us ul {
    list-style: none;
  }
  
  .contact_us input,
  .contact_us textarea {
    padding: 30px;
    border: 0;
    font-size: 1rem;
    background-color: var(--Grey-light-2);
    color: var(--Grey-dark-1);
    border-radius: 4px;
  }
  
  .contact_us .full {
    width: 100%;
    border: 1px solid lightgray;
  }
  
  .contact_us input:focus,
  .contact_us textarea:focus {
    outline: 0;
  }
  
  .contact_us input:focus ~ span,
  .contact_us textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }
  
  .contact_us .message {
    min-height: 8em;
  }
  
  .contact_us .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  
  .contact_us .submit-btn {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    font-family: var(--global-font);
    padding: 0.8em 1.5rem 0.8em 1.5rem;
    border: 1px solid;
    border-radius: 2px;
    font-size: 1rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 20;
    background-color: var(--Grey-dark-1);
    color: var(--primary-light);
    border-color: var(--Grey-dark-1);
  }
  
  .contact_us .submit-btn:hover {
    background-color: var(--primary-light);
    color: var(--Grey-dark-1);
  }
  
  @media (max-width: 768px) {
    .contact_us progress[value] {
      width: 12rem !important;
    }
    .contact_us .submit-btn {
      width: 60%;
      float: none;
      text-align: center;
    }
    .contact_us .input-container {
      max-width: 50%;
    }
    .contact_us .styled-input.wide {
      width: 100%;
      max-width: 100%;
    }
    .contact_us input,
    .contact_us textarea {
      font-size: 1rem;
    }
  }
  
  .contact_us input[type="checkbox"] + label {
    color: var(--Grey-light-4);
    font-style: italic;
  }
  
  .contact_us input[type="checkbox"]:checked + label {
    color: var(--color-primary);
    font-style: normal;
  }
  
  @media screen and (max-width: 768px) {
    .contact_us .heading__primary {
      text-align: center;
      font-size: 2rem;
    }
  }