.faq-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(../../img/faq/faq2.png);
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 103% 92%;
    min-height: 100vh;
    background-size: 27% auto;
    margin: 20px 20px;
    overflow: visible;
  }
  
  .faq-section .upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 20%;
  }
  
  .faq-section .upper h1 {
    color: var(--Grey-dark-1);
    font-size: 3.5rem;
    font-family: var(--global-font);
    margin: 1rem;
  }
  
  .faq-section .upper h3 {
    font-family: var(--global-font);
    font-size: 20px;
    font-weight: lighter;
    margin: 15px 0;
    color: #348f5b;
  }
  
  .faq-section .upper form {
    width: 100%;
    text-align: center;
  }
  
  .faq-section .upper input {
    background: var(--Grey-dark-1);
    border: 1px solid transparent;
    border-radius: 50px;
    width: 30%;
    height: 4rem;
    color: var(--greany);
    font-size: 1.3rem;
    outline: none;
    padding: 1rem 1.5rem;
    text-align: center;
  }
  
  .faq-section .lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
    background-color: #ecebff;
    margin: 35px;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    z-index: -1;
    font-family: var(--global-font);
  }
  
  .faq-section .lower .sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 18rem;
    margin: 15px 25px;
    background-color: var(--Grey-light-1);
    padding: 2rem;
    width: 20%;
    border-radius: 10px;
  }
  
  .faq-section .lower .sub h4 {
    font-family: var(--global-font);
    font-weight: 100;
    font-family: 1rem;
    color: var(--greany);
    margin-bottom: 0px;
    text-align: center;
  }
  
  .faq-section .lower .sub .fa {
    color: #746AF9;
    font-size: 30px;
    position: relative;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    top: 0;
  }
  
  .faq-section .lower .sub .more {
    opacity: 0.6;
  }
  
  .faq-section .lower .sub p {
    cursor: pointer;
    margin-top: 4px;
    font-family: var(--global-font);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 1.2rem;
    font-size: 13px;
    margin-bottom: 0.1rem;
    text-align: center;
    font-size: 15px;
  }
  
  @media screen and (max-height: 750px) {
    .faq-section {
      height: auto !important;
    }
  }
  
  @media screen and (max-width: 1330px) {
    .faq-section {
      height: auto;
      margin-left: 20px;
    }
    .faq-section .lower .sub {
      width: 50%;
      height: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .faq-section {
      background-image: none;
      height: auto;
      width: 90%;
    }
    .faq-section .lower .sub {
      width: 100%;
    }
    .faq-section .upper {
      height: 10rem;
    }
    .faq-section .upper h1 {
      font-size: 1.9rem;
      text-align: center;
    }
    .faq-section .upper input {
      width: 90%;
      font-size: 1rem;
    }
    .faq-section .upper h3 {
      text-align: center;
      font-size: 0.7rem;
    }
    .faq-section .lower {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 900px) {
    .faq-section .upper h3 {
      padding: 0;
      margin: 0;
    }
  }
  
  @media (max-width: 900px) {
    .faq-section .lower .sub i {
      position: relative;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      top: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }