@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
.main {
    margin: 0 auto;
    width: 80vw;
    margin-top: 50px;
}

#heading {
    text-align: center;
    font-size: 2.5rem;
    margin: 0 auto;
}

#frm {
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

label {
    margin: 7px;
    font-size: 18px;
}

textarea {
    height: 15rem;
    border-radius: 6px;
    width: 600px;
    border: 1px solid grey;
    padding: 1rem;
    resize: none;
    color: black;
}

#title {
    height: 7rem;
}

#tags{
    height: 5rem;
}

#submit {
    width: 8rem;
    margin: 5px;
    margin-top: 18px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    color: white;
    background: linear-gradient(
45deg,#D1CEFC,#746AF9);
}
input{
   margin-left: 20vw;
}